<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.8.2" targetFramework="net48" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NLog" version="5.1.2" targetFramework="net48" />
  <package id="NLog.Config" version="4.7.15" targetFramework="net461" />
  <package id="NLog.Schema" version="5.1.2" targetFramework="net48" />
  <package id="ReactiveProperty" version="8.1.2" targetFramework="net461" requireReinstallation="true" />
  <package id="ReactiveProperty.Core" version="8.1.2" targetFramework="net461" requireReinstallation="true" />
  <package id="SSH.NET" version="2020.0.2" targetFramework="net461" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.117.0" targetFramework="net48" />
  <package id="System.Collections" version="4.3.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.117.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.117.0" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.117.0" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6.Migrations" version="1.0.113" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.117.0" targetFramework="net48" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net461" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Reactive.Core" version="5.0.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Reactive.Interfaces" version="5.0.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Reactive.Linq" version="5.0.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net461" />
</packages>