<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.0" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.8.1" targetFramework="net461" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="NLog" version="4.7.0" targetFramework="net461" />
  <package id="NLog.Config" version="4.7.0" targetFramework="net461" />
  <package id="NLog.Schema" version="4.7.0" targetFramework="net461" />
  <package id="ReactiveProperty" version="6.2.0" targetFramework="net461" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net461" />
  <package id="System.Collections" version="4.3.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.112.2" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.112.2" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.112.2" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6.Migrations" version="1.0.106" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.112.2" targetFramework="net461" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.4.1" targetFramework="net461" />
  <package id="System.Reactive.Core" version="4.4.1" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="4.4.1" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="4.4.1" targetFramework="net461" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net461" />
</packages>